//Color
$primary-color		: #7eba57;
$secondary-color	: #8a8e8d;
$tertiary-color		: #103e63;
$quaternary			: #8a8e8d;
$body-font-color	: #444;
$color-hover		: #8dc6ad;
$light 				: #f9f9f9;
$table-label		: #c9cad3;
$tint				: #f3f3f3;



