<div class="grid-block container header show-for-medium">

	<div class="medium-6 small-12 grid-content headerLeft">

	</div>

	<div class="medium-6 small-12 grid-content headerRight">
		<div class="grid-block signupLogin"> 
		    <div class="grid-content">   
		        <ul>
			        <li><a ui-sref="login"><strong>Login</strong></a></li>
			        <li><strong>|</strong></li>
			        <li><a ui-sref="signup"><strong>Sign Up</strong></a></li>			        
			    </ul>
			</div>
		</div>
	    <div class="grid-block globalSearch">
			<div class="grid-content">	
				<ul>
					<li><label>
					<span class="inline-label header-label">
					<input placeholder="Search" type="search">
					<a href="#" class="button">Search</a>
					</span>
					</label></li>
				</ul>
			</div>
		</div>

	</div>	
</div>
<div class="grid-block">
	<div class="grid-content nav show-for-medium" style="padding: 0; width: 100%;">
	  <div class="menu-group primary">      
	        <ul class="menu-bar primary large-hortizontal medium-horizontal small-vertical">
	          <li><a ui-sref="home">Home</a></li>
	          <li><a ui-sref="residential">Banking Institutions</a></li>
	          <li><a ui-sref="commercial">Personal Appraisals</a></li>
	          <li><a ui-sref="land">Realtors</a></li>
	          <li><a ui-sref="home.aboutContainer">About</a></li>
	          <li><a ui-sref="data-profile">Contact</a></li>
	        </ul>
	     </div>
	</div>
</div>